﻿@page
@model Todo.Pages.Pokemon.AddPokemonModel
@{
    ViewData["Title"] = "Add";
}

<h1 class="text-center">Ajouter un pokémon</h1>

<div class="container border shadow p-3">
    <form method="POST">
        <div class="form-group">
            <label class="small" for="pokName">Nom</label>
            <input asp-for="@Model.Pokemon.Name" type="text" class="form-control" id="pokName" placeholder="Nom">
        </div>
        <div class="form-group">
            <label class="small" for="pokHp">Points de vie</label>
            <input asp-for="@Model.Pokemon.Hp" type="text" class="form-control" id="pokHp" placeholder="Points de vie">
        </div>
        <div class="form-group">
            <label class="small" for="pokDamage">Dégâts</label>
            <input asp-for="@Model.Pokemon.Damage" type="text" class="form-control" id="pokDamage" placeholder="Degats">
        </div>
        <div class="form-group">
            <label class="small" for="pokType">Type</label>
            <select asp-for="@Model.Pokemon.Type" class="form-control" id="pokType"
                    asp-items="Html.GetEnumSelectList<PokemonType>()">
            </select>
        </div>

        <div class="d-flex justify-content-around p-3">
            <div><button class="btn btn-success" type="submit">Valider</button></div>
            <div><a class="btn btn-primary" asp-page="/Index">Annuler</a></div>
        </div>
    </form>
</div>