﻿@page "{id:min(1)}"
@model Todo.Pages.Pokemon.EditPokemonModel
@{
    ViewData["Title"] = "Editer";
    var PhotoPath = "~/images/" + Model.Pokemon.PhotoPath ?? "noImage.png";
}

<h1 class="text-center">Editer @Model.Pokemon.Name</h1>

<div class="container border shadow p-3">
    <p class="text-center"><img src="@PhotoPath" asp-append-version="true" width="150" height="150" /></p>
    <form method="POST">
        <div class="form-group">
            <input hidden asp-for="@Model.updatedPokemon.Id" value="@Model.Pokemon.Id" />

            <label class="small" for="pokPhoto">Image</label>
            <!-- <input asp-for="@Model.Photo" class="form-control border-0" id="pokPhoto" placeholder="Modifier la photo"> -->
        </div>
        <div class="form-group">
            <label class="small" for="pokName">Nom</label>
            <input asp-for="@Model.updatedPokemon.Name" type="text" class="form-control" id="pokName" placeholder="Nom" value="@Model.Pokemon.Name">
        </div>
        <div class="form-group">
            <label class="small" for="pokHp">Points de vie</label>
            <input asp-for="@Model.updatedPokemon.Hp" type="text" class="form-control" id="pokHp" placeholder="Points de vie" value="@Model.Pokemon.Hp">
        </div>
        <div class="form-group">
            <label class="small" for="pokDamage">Dégâts</label>
            <input asp-for="@Model.updatedPokemon.Damage" type="text" class="form-control" id="pokDamage" placeholder="Degats" value="@Model.Pokemon.Damage">
        </div>
        <div class="form-group">
            <label class="small" for="pokType">Type</label>
            <select asp-for="@Model.updatedPokemon.Type" class="form-control" id="pokType"
                    asp-items="Html.GetEnumSelectList<PokemonType>()">
                <option value="@Model.Pokemon.Type" selected>(Défaut)@Model.Pokemon.Type</option>
            </select>
        </div>

        <div class="d-flex justify-content-around p-3">
            <div><button class="btn btn-info" type="submit">Valider</button></div>
            <div><a class="btn btn-primary" asp-page="/Pokemon/ShowPokemon" asp-route-Id="@Model.Pokemon.Id">Annuler</a></div>
        </div>
    </form>
</div>