﻿@page "{id:min(1)}"
@model Todo.Pages.Pokemon.ShowPokemonModel
@{
    ViewData["Title"] = "Show";
    var PhotoPath = "~/images/" + (Model.Pokemon.PhotoPath ?? "noImage.png");
}

<h1 class="text-center">@Model.Pokemon.Name</h1>

<div class="border shadow p-3 mb-5 d-flex">
    <div><img src="@PhotoPath" asp-append-version="true" width="150" height="150" /></div>
    <div class="ml-3" style="width:100%;">
        <div class="d-flex justify-content-around bg-light spacePadding"><p>Nom</p><p>@Model.Pokemon.Name</p></div>
        <div class="d-flex justify-content-around spacePadding"><p>Santé</p><p>@Model.Pokemon.Hp</p></div>
        <div class="d-flex justify-content-around bg-light spacePadding"><p>Type</p><p>@Model.Pokemon.Type</p></div>
        <div class="d-flex justify-content-around spacePadding"><p>Dégâts</p><p>@Model.Pokemon.Damage</p></div>
        
        <div class="d-flex justify-content-around border-top spacePadding">
            <a class="btn btn-primary" asp-page="/Index">Retour</a>
            <a class="btn btn-info" asp-page="/Pokemon/EditPokemon" asp-route-Id="@Model.Pokemon.Id">Modifier</a>
            <a class="btn btn-danger" asp-page="/Pokemon/DeletePokemon" asp-route-Id="@Model.Pokemon.Id">Supprimer</a>
        </div>
    </div>
</div>
