﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="card-deck container">
        @foreach(var pokemon in Model.Pokemons)
        {
            var path = "/images/" + (pokemon.PhotoPath ?? "noImage.png");
            <div>
                <a asp-page="/Pokemon/ShowPokemon" asp-route-Id="@pokemon.Id" style="color: black; text-decoration: none;">
                    <div class="card-deck m-3 border shadow p-3 mb-5" style="min-width: 18rem; max-width: 33%;">
                        <div class="container">
                            <p style="text-align: center;"><img width="100" height="100" src="@path" asp-append-version="true" /></p>
                            <h3 class="text-center">@pokemon.Name</h3>
                            <p class="border rounded text-center" style="background-color: @Model.TypeColor(pokemon.Type); padding:8px;">@pokemon.Type</p>
                        </div>
                    </div>
                </a>
            </div>
        }
</div>
<div class="text-right fixed-bottom p-5"><a asp-page="/Pokemon/AddPokemon" class="rounded-circle bg-danger p-3 text-white" style="text-decoration: none;">+</a></div>
